@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #182c3a;
}

.admin_container {
  max-width: 1920px;
  margin: 0 auto;
}

.main_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

.sidebar-menu svg path {
  stroke: #182c3a !important;
}

.sidebar-nav::-webkit-scrollbar {
  width: 5px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-nav:hover::-webkit-scrollbar-thumb {
  background-color: #e8eaeb;
}

.table__container::-webkit-scrollbar {
  width: 5px;
}

.table__container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 99, 132);
}

.swiper {
  width: 70%;
  height: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(odd) {
  background-color: #182c3a;
}
.swiper-slide:nth-child(even) {
  background-color: #8bb4c8;
}

.button {
  @apply bg-primary flex gap-[0.5rem] font-semibold px-[30px] py-[10px] text-light rounded-lg;
}

.clip-custom {
  height: 300px;
  clip-path: polygon(0 0, 100% 0%, 99% 50%, 50% 100%, 0% 50%);
}
